<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	
    <title>
    BugHouse Chess
  </title>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

</head>
<body>
  <center>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">BugHouse </a>
      
      <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="/Tour">Tour</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
  <h3>Chess</h3>
  <div class="content-wrapper">
    <span>
      <canvas id="hand1" width="60" height="400" style="border:1px solid #000000"></canvas>
    </span>
     
    <span>
      <canvas id="board1" width="400" height="400" style="border:1px solid #000000"></canvas>
    </span>
    
    <span>
      <canvas id="hand2" width="60" height="400" style="border:1px solid #000000"></canvas>
    </span>
    <span>
      <canvas id="hand3" width="60" height="400" style="border:1px solid #000000"></canvas>
    </span>
     
    <span>
      <canvas id="board2" width="400" height="400" style="border:1px solid #000000"></canvas>
    </span>
    
    <span>
      <canvas id="hand4" width="60" height="400" style="border:1px solid #000000"></canvas>
    </span>
    </div>
  </center>
  <h1 id="place">00 - 00</h1>


  <script src="static/jquery.js"></script>
  <script src="static/chess.js"></script>
  <script src="static/board.js"></script>
</body>
